-i https://pypi.org/simple
app==0.0.1
boto3==1.9.37
botocore==1.12.37
click==7.0; python_version != '3.3.*'
docutils==0.14
flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0; python_version != '3.1.*'
jinja2==2.10
jmespath==0.9.3
kafka-python==1.4.3
markupsafe==1.0
python-dateutil==2.7.5; python_version >= '2.7'
s3fs==0.1.6
s3transfer==0.1.13
six==1.11.0
urllib3==1.23; python_version != '3.1.*'
werkzeug==0.14.1
